body {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    background-color: #1f2937;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

h2 {
    font-size: 48px;
    color: #f9faf8;
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 0;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 80px;
    margin-right: 0;
}

.subtext {
    max-width: 500px;
    font-size: 18px;
    color: #e5e7eb;
}
